.not-found--container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
}

.not-found--nav {
  color: white;
  text-decoration: underline
}

.not-found--nav:hover {
  text-shadow: 1px 0 0, -1px 0 0;
}
